workflows/n8n/doc_ingestion_workflow.json
{
  "name": "Doc Ingestion Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/ingest",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_path",
              "value": "={{ $json.body.file_path }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-ingest-api",
      "name": "Call Ingest API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: $json.status, chunks_stored: $json.chunks_stored, file_path: $json.file_path }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "functionCode": "const result = $input.all()[0].json;\nconsole.log('[Ingestion] File:', result.file_path, '| Chunks:', result.chunks_stored, '| Status:', result.status);\nreturn $input.all();"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 460]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Call Ingest API", "type": "main", "index": 0}]]
    },
    "Call Ingest API": {
      "main": [
        [
          {"node": "Respond to Webhook", "type": "main", "index": 0},
          {"node": "Log Result", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "doc-ingestion-workflow"
}
